# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/

# Ignore files created by MacOS
.DS_Store
_publications/2015-10-01-paper-title-number-3.md
_publications/2015-10-01-paper-title-number-3.md
_publications/2024-02-17-paper-title-number-4.md
_publications/2025-06-08-paper-title-number-5.md
